{
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": [
      "error",
      {
        "args": "none",
        "ignoreRestSiblings": false
      }
    ],
    "class-methods-use-this": "error",
    "import/extensions": "error",
    "no-unexpected-multiline": "error",
    "no-warning-comments": "error"
  },
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "env": {
    "webextensions": true,
    "browser": true,
    "jquery": true
  }
}
